#RewriteEngine On
#RewriteRule ^(.*)/(.*)/(.*)/(.)?$ index.php?m=$1&c=$2&a=$3 [L]

   Options +FollowSymLinks

   RewriteEngine on


   # Send request via index.php

   RewriteCond %{REQUEST_FILENAME} !-f

   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_URI} !^/(public)(/.*)?   

   RewriteRule ^(.*)$ index.php/?whitephproute=$1 [L]
